.button-active {
	  -fx-background-color: #5f976a; /* Green */
	  -fx-background-radius: 0.0;
	  -fx-text-fill: #39393a;	/* Gray */
	  -fx-font-size: 17px;
	  -fx-margin: 8px 8px;
	  -fx-border: none;
	  -fx-cursor: pointer;
	  -fx-width: 100px;
}

.button{
	  -fx-background-color: #5f976a; /* Green */
	  -fx-text-fill: #39393a;	/* Gray */
	  -fx-font-size: 17px;
	  -fx-margin: 8px 8px;
	  -fx-border: none;
	  -fx-cursor: pointer;
	  -fx-width: 100px;
	  -fx-border-radius: 3px;
	  -fx-cursor: pointer;
}

.button-unactive{
	  -fx-background-color: null;
	  -fx-background-radius: 0.0;
	  -fx-text-fill: #5f976a;
	  -fx-text-align: center;
	  -fx-text-decoration: none;
	  -fx-display: inline-block;
	  -fx-font-size: 17.0px;
	  -fx-margin: 4.0px 2.0px;
	  -fx-cursor: pointer;
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane:label {
    -fx-text-fill: #39393a;
}

.dialog-pane:header  .header-panel {
    -fx-background-color: #39393a;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2.0em;    
    -fx-text-fill: #5f976a;
    
}

.dialog-pane > .button-bar > .container > .button{
  -fx-alignment: center;
  -fx-focus-traversable: false;
  -fx-padding: 0.416em; /* 5px */
  -fx-background-color: #5f976a; /* Green */
  -fx-background-radius: 0.0;
  -fx-text-fill: #39393a;
}